.details-loader {
	height: 25em;
}

.loader-flex {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader-whitespace {
	display: none;
}
@media screen and (min-width: 800px) {
	.loader-whitespace {
		display: block;
		height: 10rem;
	}
}
