:root {
	--header-bg-clr: #f01327;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Oswald, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 62em;
	overflow: hidden;
}

.App {
	background-color: #bfbfbf;
	min-height: 100vh;
	height: 100%;
}

.bg-white {
	background-color: #fff;
}

.bg-grey {
	background-color: #e5e5e5;
}
